/* CSS Styling For Home, About And Contact pages
  which include Header, nav Bar, And Complete Footer */
* {
  margin: 0;
  padding: 0;
  overflow-block: hidden;
  font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Ariel, sans-serif;
}

header {
  position: relative;
  width: 100%;
  height: 70px;
  background-image: url(screen.jpg);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 4%;
  width: 20%;
}

.logo-img {
  height: 75px;
}

.logo-container .title-style {
  display: flex;
  text-wrap: nowrap;
  margin-left: 5%;
  font-size: 28px;
  text-decoration: none;
  font-style: italic;
  color: #282c3f;
  cursor: pointer;
}

.nav-bar {
  position: relative;
  width: 70%;
  padding: 5%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.search_bar {
  height: 40px;
  min-width: 200px;
  width: 60%;
  display: flex;
  align-items: center;
}

.search_icon {
  box-sizing: content-box;
  height: 20px;
  padding: 10px;
  background-color: #f5f5f6;
  color: #282c3f;
  font-weight: 300;
  border-radius: 4px 0 0 4px;
}

.search_input {
  color: #696e79;
  background-color: #f5f5f6;
  flex-grow: 1;
  height: 40px;
  border: 0;
  border-radius: 0 4px 4px 0;
}

ul {
  width: 60%;
  height: 33px;
  overflow: hidden;
}

ul li {
  display: inline-block;
  margin-left: 4%;
  padding: 1%;
}
ul li a:hover {
  color: white;
}
ul li a {
  color: #282c3f;
  text-decoration: none;
  font-size: 18px;
}
#menuIcon {
  display: none;
}

/* Hamburger Menu for Mobile */
#menuIcon {
  display: none;
  font-size: 25px;
  cursor: pointer;
}

footer {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 25px 0;
  margin: 0;
  background: #000000;
  color: aliceblue;
  justify-content: space-evenly;
}
.con-det {
  display: grid;
}
.con-det a {
  text-decoration: none;
  color: aliceblue;
  padding: 0 0 15px;
}
.about-us {
  display: grid;
}

.top-cat {
  display: grid;
}

.pay-method {
  display: grid;
}

/* Media Queries */
@media (max-width: 1024px) {
  .nav-bar {
    display: none;
  }

  #menuIcon {
    display: inline;
    margin-left: auto;
  }
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    height: auto;
  }

  .logo-container {
    width: 100%;
    justify-content: center;
  }

  .nav-bar {
    display: block;
    text-align: center;
    width: 100%;
  }

  ul {
    display: block;
  }

  ul li {
    margin: 10px 0;
  }
}
